.vscode/settings.json
PrimaryService/bin/Debug/net5.0/TextBasedGame.dll
PrimaryService/bin/Debug/net5.0/TextBasedGame.pdb
PrimaryService/bin/Debug/net5.0/ref/TextBasedGame.dll
PrimaryService/obj/project.nuget.cache
PrimaryService/obj/TextBasedGame.csproj.nuget.dgspec.json
PrimaryService/obj/Debug/net5.0/TextBasedGame.assets.cache
PrimaryService/obj/Debug/net5.0/TextBasedGame.dll
PrimaryService/obj/Debug/net5.0/TextBasedGame.genruntimeconfig.cache
PrimaryService/obj/Debug/net5.0/TextBasedGame.pdb
PrimaryService/obj/Debug/net5.0/ref/TextBasedGame.dll
PrimaryService.Test/bin/Debug/net5.0/nunit_random_seed.tmp
PrimaryService.Test/bin/Debug/net5.0/PrimaryService.Test.dll
PrimaryService.Test/bin/Debug/net5.0/PrimaryService.Test.pdb
PrimaryService.Test/bin/Debug/net5.0/TextBasedGame.dll
PrimaryService.Test/bin/Debug/net5.0/TextBasedGame.pdb
PrimaryService.Test/obj/Debug/net5.0/PrimaryService.Test.csproj.AssemblyReference.cache
PrimaryService.Test/obj/Debug/net5.0/PrimaryService.Test.dll
PrimaryService.Test/obj/Debug/net5.0/PrimaryService.Test.pdb
PrimaryService/bin/Debug/net5.0/TextBasedGame.dll
PrimaryService/bin/Debug/net5.0/TextBasedGame.pdb
PrimaryService/obj/project.nuget.cache
PrimaryService/obj/TextBasedGame.csproj.nuget.dgspec.json
PrimaryService/obj/Debug/net5.0/TextBasedGame.assets.cache
PrimaryService/obj/Debug/net5.0/TextBasedGame.dll
PrimaryService/obj/Debug/net5.0/TextBasedGame.genruntimeconfig.cache
PrimaryService/obj/Debug/net5.0/TextBasedGame.pdb
PrimaryService.Test/bin/Debug/net5.0/PrimaryService.Test.dll
PrimaryService.Test/bin/Debug/net5.0/PrimaryService.Test.pdb
PrimaryService.Test/bin/Debug/net5.0/TextBasedGame.dll
PrimaryService.Test/bin/Debug/net5.0/TextBasedGame.pdb
PrimaryService.Test/obj/Debug/net5.0/PrimaryService.Test.csproj.AssemblyReference.cache
PrimaryService.Test/obj/Debug/net5.0/PrimaryService.Test.dll
PrimaryService.Test/obj/Debug/net5.0/PrimaryService.Test.pdb
.vscode/extensions.json
PrimaryService.Test/bin/Debug/net5.0/nunit_random_seed.tmp
PrimaryService/ServicesAndReusables/secret/Secrets.cs
PrimaryService/bin/Debug/net5.0/TextBasedGame.dll
PrimaryService/bin/Debug/net5.0/TextBasedGame.pdb
PrimaryService/bin/Debug/net5.0/ref/TextBasedGame.dll
PrimaryService/obj/project.nuget.cache
PrimaryService/obj/TextBasedGame.csproj.nuget.dgspec.json
PrimaryService/obj/Debug/net5.0/TextBasedGame.assets.cache
PrimaryService/obj/Debug/net5.0/TextBasedGame.csproj.CoreCompileInputs.cache
PrimaryService/obj/Debug/net5.0/TextBasedGame.dll
PrimaryService/obj/Debug/net5.0/TextBasedGame.genruntimeconfig.cache
PrimaryService/obj/Debug/net5.0/TextBasedGame.pdb
PrimaryService/obj/Debug/net5.0/ref/TextBasedGame.dll
PrimaryService/bin/Debug/net5.0/TextBasedGame.dll
PrimaryService/bin/Debug/net5.0/TextBasedGame.pdb
PrimaryService/obj/project.nuget.cache
PrimaryService/obj/TextBasedGame.csproj.nuget.dgspec.json
PrimaryService/obj/Debug/net5.0/TextBasedGame.assets.cache
PrimaryService/obj/Debug/net5.0/TextBasedGame.dll
PrimaryService/obj/Debug/net5.0/TextBasedGame.genruntimeconfig.cache
PrimaryService/obj/Debug/net5.0/TextBasedGame.pdb
PrimaryService.Test/bin/Debug/net5.0/nunit_random_seed.tmp
PrimaryService.Test/bin/Debug/net5.0/PrimaryService.Test.dll
PrimaryService.Test/bin/Debug/net5.0/PrimaryService.Test.pdb
PrimaryService.Test/bin/Debug/net5.0/TextBasedGame.dll
PrimaryService.Test/bin/Debug/net5.0/TextBasedGame.pdb
PrimaryService.Test/obj/Debug/net5.0/PrimaryService.Test.csproj.AssemblyReference.cache
PrimaryService.Test/obj/Debug/net5.0/PrimaryService.Test.dll
PrimaryService.Test/obj/Debug/net5.0/PrimaryService.Test.pdb
