.vscode/settings.json
PrimaryService/bin
PrimaryService.Test/bin
PrimaryService/obj
PrimaryService.Test/obj
PrimaryService/bin/*
PrimaryService.Test/bin/*
PrimaryService/obj/*
PrimaryService.Test/obj/*
PrimaryService/bin/Debug/net5.0/TextBasedGame.dll
PrimaryService/bin/Debug/net5.0/TextBasedGame.pdb
PrimaryService/bin/Debug/net5.0/ref/TextBasedGame.dll
PrimaryService/obj/project.nuget.cache
PrimaryService/obj/TextBasedGame.csproj.nuget.dgspec.json
PrimaryService/obj/Debug/net5.0/TextBasedGame.assets.cache
PrimaryService/obj/Debug/net5.0/TextBasedGame.dll
PrimaryService/obj/Debug/net5.0/TextBasedGame.genruntimeconfig.cache
PrimaryService/obj/Debug/net5.0/TextBasedGame.pdb
PrimaryService/obj/Debug/net5.0/ref/TextBasedGame.dll
PrimaryService.Test/bin/Debug/net5.0/nunit_random_seed.tmp
PrimaryService.Test/bin/Debug/net5.0/PrimaryService.Test.dll
PrimaryService.Test/bin/Debug/net5.0/PrimaryService.Test.pdb
PrimaryService.Test/bin/Debug/net5.0/TextBasedGame.dll
PrimaryService.Test/bin/Debug/net5.0/TextBasedGame.pdb
PrimaryService.Test/obj/Debug/net5.0/PrimaryService.Test.csproj.AssemblyReference.cache
PrimaryService.Test/obj/Debug/net5.0/PrimaryService.Test.dll
PrimaryService.Test/obj/Debug/net5.0/PrimaryService.Test.pdb
PrimaryService/bin/Debug/net5.0/TextBasedGame.dll
PrimaryService/bin/Debug/net5.0/TextBasedGame.pdb
PrimaryService/obj/project.nuget.cache
PrimaryService/obj/TextBasedGame.csproj.nuget.dgspec.json
PrimaryService/obj/Debug/net5.0/TextBasedGame.assets.cache
PrimaryService/obj/Debug/net5.0/TextBasedGame.dll
PrimaryService/obj/Debug/net5.0/TextBasedGame.genruntimeconfig.cache
PrimaryService/obj/Debug/net5.0/TextBasedGame.pdb
PrimaryService.Test/bin/Debug/net5.0/PrimaryService.Test.dll
PrimaryService.Test/bin/Debug/net5.0/PrimaryService.Test.pdb
PrimaryService.Test/bin/Debug/net5.0/TextBasedGame.dll
PrimaryService.Test/bin/Debug/net5.0/TextBasedGame.pdb
PrimaryService.Test/obj/Debug/net5.0/PrimaryService.Test.csproj.AssemblyReference.cache
PrimaryService.Test/obj/Debug/net5.0/PrimaryService.Test.dll
PrimaryService.Test/obj/Debug/net5.0/PrimaryService.Test.pdb
.vscode/extensions.json
PrimaryService.Test/bin/Debug/net5.0/nunit_random_seed.tmp
PrimaryService/ServicesAndReusables/secret/Secrets.cs
PrimaryService/bin/Debug/net5.0/TextBasedGame.dll
PrimaryService/bin/Debug/net5.0/TextBasedGame.pdb
PrimaryService/bin/Debug/net5.0/ref/TextBasedGame.dll
PrimaryService/obj/project.nuget.cache
PrimaryService/obj/TextBasedGame.csproj.nuget.dgspec.json
PrimaryService/obj/Debug/net5.0/TextBasedGame.assets.cache
PrimaryService/obj/Debug/net5.0/TextBasedGame.csproj.CoreCompileInputs.cache
PrimaryService/obj/Debug/net5.0/TextBasedGame.dll
PrimaryService/obj/Debug/net5.0/TextBasedGame.genruntimeconfig.cache
PrimaryService/obj/Debug/net5.0/TextBasedGame.pdb
PrimaryService/obj/Debug/net5.0/ref/TextBasedGame.dll
PrimaryService/bin/Debug/net5.0/TextBasedGame.dll
PrimaryService/bin/Debug/net5.0/TextBasedGame.pdb
PrimaryService/obj/project.nuget.cache
PrimaryService/obj/TextBasedGame.csproj.nuget.dgspec.json
PrimaryService/obj/Debug/net5.0/TextBasedGame.assets.cache
PrimaryService/obj/Debug/net5.0/TextBasedGame.dll
PrimaryService/obj/Debug/net5.0/TextBasedGame.genruntimeconfig.cache
PrimaryService/obj/Debug/net5.0/TextBasedGame.pdb
PrimaryService.Test/bin/Debug/net5.0/nunit_random_seed.tmp
PrimaryService.Test/bin/Debug/net5.0/PrimaryService.Test.dll
PrimaryService.Test/bin/Debug/net5.0/PrimaryService.Test.pdb
PrimaryService.Test/bin/Debug/net5.0/TextBasedGame.dll
PrimaryService.Test/bin/Debug/net5.0/TextBasedGame.pdb
PrimaryService.Test/obj/Debug/net5.0/PrimaryService.Test.csproj.AssemblyReference.cache
PrimaryService.Test/obj/Debug/net5.0/PrimaryService.Test.dll
PrimaryService.Test/obj/Debug/net5.0/PrimaryService.Test.pdb
PrimaryService/bin/Debug/net5.0/TextBasedGame.dll
PrimaryService/bin/Debug/net5.0/TextBasedGame.exe
PrimaryService/bin/Debug/net5.0/TextBasedGame.pdb
PrimaryService/obj/project.assets.json
PrimaryService/obj/project.nuget.cache
PrimaryService/obj/TextBasedGame.csproj.nuget.dgspec.json
PrimaryService/obj/TextBasedGame.csproj.nuget.g.props
PrimaryService/obj/Debug/net5.0/apphost.exe
PrimaryService/obj/Debug/net5.0/TextBasedGame.assets.cache
PrimaryService/obj/Debug/net5.0/TextBasedGame.dll
PrimaryService/obj/Debug/net5.0/TextBasedGame.GeneratedMSBuildEditorConfig.editorconfig
PrimaryService/obj/Debug/net5.0/TextBasedGame.genruntimeconfig.cache
PrimaryService/obj/Debug/net5.0/TextBasedGame.pdb
PrimaryService.Test/bin/Debug/net5.0/nunit_random_seed.tmp
PrimaryService.Test/bin/Debug/net5.0/PrimaryService.Test.dll
PrimaryService.Test/bin/Debug/net5.0/PrimaryService.Test.pdb
PrimaryService.Test/bin/Debug/net5.0/TextBasedGame.dll
PrimaryService.Test/bin/Debug/net5.0/TextBasedGame.exe
PrimaryService.Test/bin/Debug/net5.0/TextBasedGame.pdb
PrimaryService.Test/obj/PrimaryService.Test.csproj.nuget.dgspec.json
PrimaryService.Test/obj/PrimaryService.Test.csproj.nuget.g.props
PrimaryService.Test/obj/project.assets.json
PrimaryService.Test/obj/project.nuget.cache
PrimaryService.Test/obj/Debug/net5.0/PrimaryService.Test.csproj.AssemblyReference.cache
PrimaryService.Test/obj/Debug/net5.0/PrimaryService.Test.dll
PrimaryService.Test/obj/Debug/net5.0/PrimaryService.Test.GeneratedMSBuildEditorConfig.editorconfig
PrimaryService.Test/obj/Debug/net5.0/PrimaryService.Test.pdb
